:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --color-primary: #380b12;
    --color-light-blue: #007bee;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}
.note{
    display: flex;
    flex-direction: column;

}.container{
    display: block;
    margin-top: 5%;
}

.dates{
    display: none;
    flex-direction: column;
}

.note{
    border: 3px solid black;
    background-color: lightgoldenrodyellow;
    display: flexbox;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 1rem 0;
    line-height: 45pt;
    font-size: 20px;
}

p.title{
    text-align: center;
    font-weight: bold;
}
p.noteinfo{
    text-align: center;   
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    font-size: 2rem;
    color: var(--color-primary);
    line-height: 2;
}

header form {
    display: flex;
    flex-direction: column;
    width: 30rem;
}

form > * {
    margin-bottom: 5px;
    outline: none;
    font-size: 1.2rem;
    padding: 7px;
    border: 1px solid #777;
    border-radius: 3px;
}

form textarea {
    padding: 7px 0 40px 5px;
    font-size: 1.2rem;
    font-family: inherit;
}

::placeholder {
    font-size: 1rem;
}

 button {
    background-color: green;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

 button:hover {
    background-color: blueviolet;
}

.note {
    padding: 1rem;
    background-color: lightgoldenrodyellow;
    border-radius: 3px;
    margin: 1rem 0;
    line-height: 25pt;
}

.note-text {
    font-size: 1.2rem;
}

.note-title {
    font-size: 1.5rem;
    color: var(--black);
}

 div > button {
    padding: 7px;
    margin-top: 5px;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
div.btnMenu{
    display: none;
}
.note-btn {
    padding: 7px;
    margin-top: 5px;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.delete-btn {
    background-color: green;
}

.edit-btn {
    background-color: var(--color-light-blue);
}

.can-Btn{
    display: none;
}
.e-Btn{
    display: none;
}
